@use "@/styles/variables.scss";

.popover {
  position: relative;

  button {
    padding: 10px;
    border: none;
    color: variables.$main-text-color;
    cursor: pointer;
  }

  &_content {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%); /* Center the content horizontally */
    visibility: visible;
    background: variables.$main-text-color;
    color: variables.$secondary-text-color;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: center; // Center content horizontally
    align-items: center; // Center content vertically

    // Triangle
    &::before {
      content: "";
      position: absolute;
      top: -20px; /* Adjust this value to control the distance from the button */
      left: 50%;
      transform: translateX(-50%);
      border: 10px solid transparent;
      border-bottom-color: #fff;
      z-index: 2;
    }

    p {
      margin: 0;
      font-size: 104px;
    }
  }
}
