@use "/src/styles/variables.scss";

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  p {
    color: variables.$error;
    font: variables.$fz-md variables.$font;
  }
}

.main {
  // start 72px below the header
  margin-top: variables.$header-height;
  padding: variables.$spacing-md;
  background: variables.$gradient;
  min-height: 100vh;
  color: variables.$main-text-color;
}
.remove_button {
  background-color: red;
}

.buttons {
  display: flex !important;
  flex-direction: row !important;
  gap: 2rem;
  align-items: center !important;
  justify-content: center;
  margin-bottom: 1rem;
}
