@use "@/styles/variables.scss";

.controls {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 0 auto;
  max-width: variables.$max-width;
  padding: 2rem 0;
  width: 100%;
}

.reset {
  grid-column: 1 / -1;
  text-align: center;
}

@media screen and (min-width: 390px) {
  .controls {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 692px) {
  .controls {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr) ;
  }
}